// Colors
$color-primary: #343C54;
$color-secondary: #0078E7;

$neutral-grey-2: #8A9BB4;
$neutral-grey-3: #D0DBE9;
$neutral-ghost: #F5F9FC;

$primary-white: #FFF;
$primary-azure: #3E96F6;

// Size breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
